<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      html {
        box-sizing: border-box;
        font-size: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }

      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }

      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      ol,
      ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        text-align: center;
      }

      ol,
      ul {
        list-style: none;
      }
      li {
        padding: 0.5rem;
      }

      img {
        max-width: 100%;
        height: auto;
      }
      body {
        padding: 1rem;
      }
      main {
        margin: auto;
        display: flex;
        flex-direction: column;
      }
      @media (min-width: 576px) {
        main {
          max-width: 540px;
        }
      }
      @media (min-width: 768px) {
        main {
          max-width: 720px;
        }
      }
      @media (min-width: 992px) {
        main {
          max-width: 960px;
        }
      }
      @media (min-width: 1200px) {
        main {
          max-width: 1140px;
        }
      }
      @media (min-width: 1400px) {
        main {
          max-width: 1320px;
        }
      }
    </style>
  </head>
  <body>
    <main>
      <h1>{{ .Title }}</h1>
      <blockquote>{{ .Description }}</blockquote>
      <ul>
        {{range .ListItems}}
        <li>
          <a
            rel="nofollow noreferrer noopener"
            href="{{ .Url }}"
            target="_blank"
            >{{ .Name }}</a
          >
          - <span>{{ .Description }}</span> {{.Extra }}
        </li>
        {{end}}
      </ul>
    </main>

    <!-- Created with Awesomo (https://gitlab.com/madflow/awesomo). Do not edit this file directly! -->
  </body>
</html>
